<div class="container footer-container">
    <div class="row footer mx-auto pb-5 text-center">
        <div class="col-6 col-md-4 p-0">
            <ul class="footer-col p-0">
                <li class="mb-4"><a class="col-header-text">
                  <img src="../../assets/img/penpal-logo.PNG" width="35px" alt="logo" class="mr-2">Moments
                </a></li>
                <li class="mb-2"><a class="footer-link">About</a></li>
                <li class="mb-2"><a class="footer-link">Press</a></li>
                <li class="mb-2"><a class="footer-link">Help</a></li>
                <li class="mb-2"><a class="footer-link">Careers </a></li>
                <li class="mb-2"><a class="footer-link">Privacy & Policy</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-4 p-0">
            <ul class="footer-col p-0">
                <li class="mb-4"><a class="col-header-text">Help</a></li>
                <li class="mb-2"><a class="footer-link">Avoid Scams</a></li>
                <li class="mb-2"><a class="footer-link">Contact Support</a></li>
                <li class="mb-2"><a class="footer-link">Sitemap</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-4 p-0">
            <ul class="footer-col p-0">
                <li class="mb-4"><a class="col-header-text">
                  <i class="fab fa-facebook-f mr-2"></i>
                  <i class="fab fa-twitter mr-2"></i>
                  <i class="fab fa-instagram mr-2"></i>
                </a></li>
                <li class="mb-2"><a class="footer-link">Advertise with us</a></li>
                <li class="mb-2"><a class="footer-link">Partners</a></li>
                <li class="mb-2"><a class="footer-link">Blog</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-link text-center mt-1">© copyright 2019 Moments’ all rights reserved</div>
