.form-card{
    margin: 0 auto;
    display: flex;
    align-self: center;
    min-height: 500px;
    background-color: #fff;
}
.modal-body{
  text-align: center;
}
.join-session, label
{
    background-color: #0084b4;
    text-align: center;
}
.text-brand
{
    color: #0084b4;
}
.text-secondary
{
    color: #707070;
}
.wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-group button{
  margin-right: 0.5em;
}
.button-group a{
  text-decoration: none !important;
  color: #fff;
}
.w-50
{
    width: 60%;
}
