<div class="wrapper">
  <div class="form-card">
    <div class="form-card-title">
      <div class="row">
        <div class="col-90"><h3 class="text-brand text-bold">{{title}}</h3>
          <p class="text-brand">{{this.date | date:'MMM d y'}}</p></div>
        <div class="d-flex align-items-center col-10">  <button  class="my-auto" id="finish-btn" (click)="finishStory()"><i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>
<div class="message-box" >
  <div class="flex-column">
  <div class="message" *ngFor="let message of messages">
    <div class="sent" *ngIf="message.author == author">
     <span class="avatar">
       <i class="fa fa-hippo text-white"></i>
     </span>
      <span class="paragraph">{{message.message}}</span>
    </div>
    <div class="received" *ngIf="message.author != author">
      <span class="paragraph">{{message.message}}</span>
      <span class="avatar">
       <i class="fa fa-dog text-white"></i>
     </span>
    </div>
  </div>
</div>
</div>

<div class="writeStoryForm">
  <input class="form-field-2 pr-1 text-white" type="text" name="entry" [(ngModel)]="message">
  <button class="btn-white" type="submit" (click)="onSubmit()"><i class="fa fa-paper-plane"></i></button>
</div>
  </div>
</div>
