.message-box
{
    max-height: 70%;
    overflow-y: scroll;
}
.writeStoryForm
{
    position: fixed;
    top: 85%;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.storyCard
{
    max-width: 500px;
}
.button_send
{
    background-color: #0084b4;
    color: #ffffff;
    border: 0;
    border-radius: 50%;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
pr-1
{
    padding-right: 1rem;
}
.received
{
  color: red;
}
.sent
{
  color: green;
}
