<div class="wrapper">
  <button id="finish-btn" class="text-brand" (click)="finishStory()"><i class="fa fa-check"></i>Finish</button>
  <div class="form-card">
    <h3 class="text-brand">{{title}}</h3>
<div class="message-box" >
  <div class="flex-column" *ngFor="let message of messages">
   <div [className] = 'message.author == author? "sent" : "received"'>
     <span class="avatar">
       <i [className]='message.author == author? "fa fa-hippo text-white" : "fa fa-dog text-white"'></i>
     </span>
     <span class="paragraph">{{message.message}}</span>
  </div>
</div>
</div>

<div class="writeStoryForm">
  <input class="form-field-2 pr-1 text-white" type="text" name="entry" [(ngModel)]="message">
  <button class="btn-white" type="submit" (click)="onSubmit()"><i class="fa fa-paper-plane"></i></button>
</div>
  </div>
</div>
