/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$brand-blue: #022B69;
$bg-green: #E8FFFE;
$bg-blue: #E3F0FF;
$grey-one: #596577;
$link-green: #0E908B;
$text-secondary: #333333;
$muted-grey: #8B8B8B;
$success-green: #0E908B;

body{
  //font-size: 10px !important;
  font-family: 'Montserrat', sans-serif;
  margin: 0 !important;
}

// TYPOGRAPHTY
.primary-text{
  color: $brand-blue;
}
//.main-text{
//  color: $primary-color;
//}
.secondary-text{
  color: $text-secondary;
}
.link-text{
  color: $link-green;
}
.muted-text{
  color: $muted-grey;
}
.medium-text{
  font-size: 1.7rem;
}

.small-text{
  font-size: 1.4rem;
}

.xsmall-text{
  font-size: 1.2rem;
}

.xxsmall-text{
  font-size: 1rem;
}
.sub-text{
  font-size: 0.8rem;
}
// BUTTONS
.button--brand
{
    background-color: $brand-blue;
    color: #ffffff;
    padding: 5px 12px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    border: 0.5px solid #C7B6D19D;

}

.button{
  font-size: 1rem;
  padding: 5px 12px;
  border-radius: 3px;
  border: 0.5px solid #C7B6D19D;
  &--brand{
    background-color: $brand-blue;
    color: #ffffff;
  }
  &--success{
    background-color: transparent;
    border: 1px solid $success-green;
    color: $success-green;
  }
}
.wrapper
{
  display: flex;
  background-color: #90CAF9;
  text-align: center;
  align-content: center;
  height: 100vh;
}

.form-card{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 500px;
  width: 500px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  padding: 0;
}

.text-brand
{
    color: #022B69;
}
label{
    color: #707070;
    text-align: center;
    display: block;
}
.form-field
{
    display: block;
    width: 80%;
    height: 45px;
    margin: 0 auto 1.5em auto;
    border-radius: 4px;
    border: 2px solid #efefef;
    padding-left: 1em;
}
.form-field-textarea{
  display: block;
  width: 80%;
  height: 120px;
  margin: 0 auto 1.5em auto;
  border-radius: 10px;
  border: 2px solid #efefef;
  padding-left: 1em;
}
.form-field::placeholder{
  color: #596577 !important;
  font-size: 14px;
  font-weight: 600;
}
.form-field-select{
  color: #596577 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.form-group
{
    margin-bottom: 1rem;
}

.text-secondary
{
    color: $grey-one;
}
.text-white{
  color: #ffffff !important;
}
.link-green{
  color: $link-green;
  font-size: 12px !important;
}
my-auto
{
  margin: auto 0;
}
.align-items-center
{
  align-items: center;
}
.justify-content-center
{
  justify-content: center !important;
}
.button-group
{
  display: flex;
  flex-direction: row;
}
.row{
  display: flex;
  flex-direction: row;
}
.col-90
{
  width: 90%;
}
.col-10
{
  width: 10%;

}
.d-flex
{
  display: flex;
}

//checkbox pills
.checkbox-pill input{
  width: 0.1px;
  height: 0.1px;
}
.checked {
  background-color:#050A96 !important;
  color: #ffffff !important;
  border: 0;
}
.checkbox-pill{
  padding: 0 2px !important;
}
.checkbox-label{
  color: #022B69;
  border: 1px solid #efefef;
  width: 100%;
  padding: 5px 5px;
  border-radius: 4px;
  background-color: #ffffff;
}
//STORY THUMBNAIL
.story-thumbnail-authors{
  font-size: 12px !important;
}
.story-thumbnail-title h4{
  margin-bottom: 0 !important;
}
.story-thumbnail-desc{
  font-size: 14px;
  width: 250px;
  height: 250px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.hand{
  cursor: hand;
}