$bg-blue: #E3F0FF;
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$brand-blue: #022B69;
$stepper-blue: #050A96;
$aqua: #E8FFFE;
#main{
    background-color: $bg-blue;
}
.hero-div{
    height: 80vh;
}

@keyframes moving {
    from { line-height: 2.5}
    to   { line-height: 1.5}
  }
.moving-h1{
    animation: moving 1s;
}

.moving p{
    animation: glideUp 1.5s;
}

// stolen animations
@keyframes spin {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1)
	}
	50% {
		transform: scale(1.05)
	}
}

@keyframes slideUp {
	from {
		transform: translateY(50%)
	}
	to {
		transform: translateY(0)
	}
}

@keyframes glideUp {
	0% {
		transform: translateY(50%);
		opacity: 0
	}
	40% {
		transform: translateY(20%);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes glideDown {
	0% {
		transform: translateY(-50%);
		opacity: 0
	}
	40% {
		transform: translateY(-20%);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes glideUp--sm {
	0% {
		transform: translateY(5%);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes zoom {
	from {
		transform: scale(0.9)
	}
	to {
		transform: scale(1)
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-20%);
		opacity: 0
	}
	to {
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(20%);
		opacity: 0
	}
	to {
		transform: translateX(0);
		opacity: 1
	}
}

.fade-out {
	animation: fadeOut 0.35s linear forwards;
	-webkit-animation: fadeOut 0.35s linear forwards
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate3d(0, -10%, 0)
	}
	to {
		opacity: 0;
		transform: translate3d(0, -30%, 0)
	}
}
// forms
#custom-input-round-md{
    background-color: #ffffff !important;
    border-radius: 40px  !important;
	height: 50px  !important;
	font-size: 12px;
}
#custom-input-round-btn-md{
	background-color: $brand-blue;
	font-size: 12px;
    color: #ffffff;
    border-radius: 40px;
	margin-left: -125px;
	width: 120px;
	z-index: 20000;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
.section-two{
	background-color: #ffffff;
	height: 100vh;
}
// stepper
.stepper-container {
	width: 25%;
  }
  
  .step {
	
	padding: 10px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;	
	background-color: cream;
  }
  
  .v-stepper {
	position: relative;
  /*   visibility: visible; */
  }
  
  
  /* regular step */
  .step .circle {
	background-color: $stepper-blue;
	border-radius: 100%;
	width: 20px;    /* +6 for border */
	height: 20px;
	display: inline-block;
  }
  
  .step .line {
	  top: 20px;
	left: 10px;
  /*   height: 120px; */
	height: 100%;
	  
	  position: absolute;
	  border-left: 1px solid $stepper-blue;
  }
    
  .step:last-child .line {
	border-left: 3px solid white;
	z-index: -1; /* behind the circle to completely hide */
  }
  
  .stepper-content {
	margin-left: 20px;
	display: inline-block;
  }
  .img-fluid{
	max-width: 100%;
	height: auto;
  }
//   art
#art-green{
width: 245px;
height: 210px;
clip-path: circle(31.6% at 100% 63%);
background: #0E908B 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
top: 150vh;
left: 83vw;
}
#art-blue{
	clip-path: ellipse(47% 18% at 7% 99%);
}
.section-three{
  background-color: $aqua;
}
.subscribe{
	background-color: $stepper-blue;
	border-radius: 18px;
}
.story-thumbnail-authors{
	font-size: 12px !important;
}
.story-thumbnail-title h4{
     margin-bottom: 0 !important;
}
.story-thumbnail-desc{
	font-size: 14px;
    width: 200px;
    height: 265px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}