<div class="container-fluid" id="main">
    <app-navbar></app-navbar>
    <div class="hero-div">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="cta text-brand">
                        <h1 class="moving-h1">Write stories with your friends</h1>
                        <p class="moving-p">Have a memorable story with your friend? Collaborate in an interactive way and share it for the world to see.</p>
                        <div class="input-group mb-3">
                            <input type="text" id="custom-input-round-md" class="form-control" placeholder="Enter your email to begin" aria-label="Recipient's username" aria-describedby="custom-input-round-btn-md">
                            <div class="input-group-append">
                              <span class="input-group-text text-center d-flex justify-content-center" id="custom-input-round-btn-md">Get Started</span>
                            </div>
                          </div>                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img  width="350px" class="img-fluid" src="../../assets/img/Group 3042.png">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-two container d-flex align-items-center">
    <div class="row">
        <div class="col-md-6">
            <img  width="350px" class="img-fluid" src="../../assets/img/Group 3043.png">
        </div>
        <div class="col-md-6">
            <h2 class="text-brand">Share your story with wide range of audience</h2>
<!-- Stepper -->
<div class="stepper">
    <!-- completed -->
      <div class="step">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
  
        <div class="stepper-content">
            <h4 class="text-brand">Create your account</h4>
            <p class="text-secondary">Signup to moments using your email, phone number, and full name</p>
        </div>
    </div>
    
    <!-- active -->
    <div class="step">
      <div class="v-stepper">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
  
      <div class="stepper-content">
        <h4  class="text-brand">Create your story and invite a friend</h4>
        <p class="text-secondary">Create your first story and invite a friend to write the story with you.</p>      </div>
    </div>
    
      <!-- empty -->
    <div class="step">
        <div class="v-stepper">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
  
        <div class="stepper-content">
            <h4 class="text-brand">Publish and share your story</h4>
            <p class="text-secondary">Publish your story and invite people to read and enjoy.</p>
        </div>
    </div>
  </div>
  <div class="input-group mb-3">
    <input type="text" id="custom-input-round-md" class="form-control" placeholder="Enter your email to begin" aria-label="Recipient's username" aria-describedby="custom-input-round-btn-md">
    <div class="input-group-append">
      <span class="input-group-text text-center d-flex justify-content-center" id="custom-input-round-btn-md">Get Started</span>
    </div>
  </div> 
        </div>
    </div>
    <div id="art-green"></div>
</div>
<div class="section-three container-fluid">
  <h2 class="mx-auto text-brand text-center py-5">Top Trending stories</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="story-thumbnail d-flex flex-row">
          <div class="story-thumbnail-pic mr-2"> 
            <img  width="180px" src="../../assets/img/Image 3.png" alt="story-image">
          </div>
          <div class="story-thumbnail-desc">
            <div class="story-thumbnail-title"><h4 class="text-brand">My mate loves me</h4></div>
            <div class="story-thumbnail-authors"><span class="link-green">Reme Ajayi</span> and <span class="link-green">Tolani Olowokere</span></div>
             <div class="story-thumbnail-desc mt-2">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich. Vogel Quax zwickt Johnys Pferd Bim. Sylvia wagt quick den Jux bei Pforzheim. Polyfon zwitschernd aßen Mäxchens…….</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-12">
        <div class="subscribe m-5 p-5 text-center">
          <h2 class="text-white m-2">Publish your story with a wider audience</h2>
          <p class="text-white">Gets started today</p>
          <div class="input-group mt-5 mb-4 mx-auto w-50">
            <input type="text" id="custom-input-round-md" class="form-control" placeholder="Enter your email to begin" aria-label="Recipient's username" aria-describedby="custom-input-round-btn-md">
            <div class="input-group-append">
              <span class="input-group-text text-center d-flex justify-content-center" id="custom-input-round-btn-md">Get Started</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- parallax scroll on entire page -->
<!-- animation for hero text -->