<div class="container-fluid" id="main">
    <app-navbar></app-navbar>
    <div class="hero-div">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="cta">
                        <h1>Write stories with your friends</h1>
                        <p>Have a memorable story with your friend? Collaborate in an interactive way and share it for the world to see.</p>
                    </div>
                </div>
                <div class="col-m>d-6">

                </div>
            </div>
        </div>
    </div>
</div>