$bg-blue: #E3F0FF;
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$brand-blue: #022B69;
$stepper-blue: #050A96;
$aqua: #E8FFFE;
#main{
    background-color: $bg-blue;
}

@keyframes moving {
    from { line-height: 2.5}
    to   { line-height: 1.5}
  }
.moving-h1{
    animation: moving 1s;
}

.moving p{
    animation: glideUp 1.5s;
}

// stolen animations
@keyframes spin {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1)
	}
	50% {
		transform: scale(1.05)
	}
}

@keyframes slideUp {
	from {
		transform: translateY(50%)
	}
	to {
		transform: translateY(0)
	}
}

@keyframes glideUp {
	0% {
		transform: translateY(50%);
		opacity: 0
	}
	40% {
		transform: translateY(20%);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes glideDown {
	0% {
		transform: translateY(-50%);
		opacity: 0
	}
	40% {
		transform: translateY(-20%);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes glideUp--sm {
	0% {
		transform: translateY(5%);
		opacity: 0
	}
	100% {
		transform: translateY(0);
		opacity: 1
	}
}

@keyframes zoom {
	from {
		transform: scale(0.9)
	}
	to {
		transform: scale(1)
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-20%);
		opacity: 0
	}
	to {
		transform: translateX(0);
		opacity: 1
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(20%);
		opacity: 0
	}
	to {
		transform: translateX(0);
		opacity: 1
	}
}

.fade-out {
	animation: fadeOut 0.35s linear forwards;
	-webkit-animation: fadeOut 0.35s linear forwards
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate3d(0, -10%, 0)
	}
	to {
		opacity: 0;
		transform: translate3d(0, -30%, 0)
	}
}
// forms
.custom-input-round-md{
    background-color: #ffffff !important;
    border-radius: 40px  !important;
	  height: 50px  !important;
	  font-size: 12px;
}
.custom-input-round-btn-md{
	background-color: $brand-blue !important;
	font-size: 12px !important;
  color: #ffffff !important;
  border-radius: 40px !important;
	margin-left: -125px !important;
	width: 120px !important;
	z-index: 20000 !important;
	margin-top: 0.3em !important;
	margin-bottom: 0.3em !important;
}
@media only screen and (max-width: 500px) {
  .custom-input-round-btn-md {
    display: block;
    width: 100%;
  }
}
.custom-input-round-md::-webkit-input-placeholder { /* Edge */
	color: #022B695C !important;
	font-weight: 500 !important;
  }

  .custom-input-round-md:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #022B695C !important;
	font-weight: 500 !important;
  }

  .custom-input-round-md::placeholder {
	color: #022B695C !important;
	font-weight: 500 !important;
  }

.section-two{
	background-color: #ffffff;
}
// stepper
.stepper-container {
	width: 25%;
  }

  .step {

	padding: 10px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: cream;
  }

  .v-stepper {
	position: relative;
  /*   visibility: visible; */
  }


  /* regular step */
  .step .circle {
	background-color: $stepper-blue;
	border-radius: 100%;
	width: 20px;    /* +6 for border */
	height: 20px;
	display: inline-block;
  }

  .step .line {
	  top: 20px;
	left: 10px;
  /*   height: 120px; */
	height: 100%;

	  position: absolute;
	  border-left: 1px solid $stepper-blue;
  }

  .step:last-child .line {
	border-left: 3px solid white;
	z-index: -1; /* behind the circle to completely hide */
  }

  .stepper-content {
	margin-left: 20px;
	display: inline-block;
  }
  .img-fluid{
	max-width: 100%;
	height: auto;
  }
//   art
#art-green{
width: 245px;
height: 210px;
clip-path: circle(31.6% at 100% 63%);
background: #0E908B 0% 0% no-repeat padding-box;
opacity: 1;
position: absolute;
top: 150vh;
left: 83vw;
}
#art-blue{
  width: 245px;
  height: 70px;
	clip-path: ellipse(45% 100% at 0% 100%);
  background: #050A96 0% 0% no-repeat padding-box;
  position: relative;
  left: -15px;
}
.section-three{
  background-color: $aqua;
}
.subscribe{
	background-color: $stepper-blue;
	border-radius: 18px;
}

@media only screen and (max-width: 1000px){
  #art-green{
    display: none;
  }
}
@media only screen and (min-width: 768px){
  .w-md-50{
    width: 50% !important;
  }
}
