<div class="container-fluid" id="main">
  <app-navbar></app-navbar>
  <div class="hero-div py-5 px-2 px-md-0">
    <div class="search mt-5 mx-auto">
     <h5 class="text-white text-center font-weight-bolder mt-3">Find stories you will like to read</h5>
      <input name="searchStories" id="searchStories" class="input--white">
      <div class="row no-gutter my-3 w-80 mx-auto mt-2" >
        <div class="col-4 col-md-3 checkbox-pill" *ngFor="let option of categories; let i = index">
          <label [for]="option.label" [className]=" option.checked ? 'checkbox-label checked': 'checkbox-label'">
            <i class="pr-1 fas fa-times" *ngIf="option.checked"></i>{{option.label}}
            <input type="checkbox" [id]="option.label"
                   [name]="option.label" [value]="option.value" (change)="toggleCheckedClass(option)">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcrumb__box shadow-sm">
    <nav aria-label="breadcrumb" class="mx-5">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">All stories</li>
      </ol>
    </nav>
  </div>
  <div class="stories__box">
    <div class="row m-0 m-md-5">
      <div class="col-lg-6">
        <div class="story-thumbnail d-md-flex flex-row">
          <div class="story-thumbnail-pic mr-2 mb-3 d-flex justify-content-center justify-content-lg-start">
            <img  width="230px" height="250px" src="../../assets/img/Image 3.png" alt="story-image">
          </div>
          <div class="story-thumbnail-desc mx-auto mx-md-0 text-center text-md-left">
            <div class="story-thumbnail-title"><h4 class="text-brand">My Mate loves me</h4></div>
            <div class="story-thumbnail-authors"><span class="link-green">Reme Ajayi</span> and <span class="link-green">Tolani Olowokere</span></div>
            <div class="story-thumbnail-desc mt-2">Zwei flinke Boxer jagen die quirlige Eva und ihren Mops durch Sylt. Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. Zwölf Boxkämpfer jagen Viktor quer über den großen Sylter Deich. Vogel Quax zwickt Johnys Pferd Bim. Sylvia wagt quick den Jux bei Pforzheim. Polyfon zwitschernd aßen Mäxchens…….</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-three">
  <div class="container">
    <div class="row my-3">
      <div class="col-12">
        <div class="subscribe my-3 my-md-5 p-3 p-md-5 text-center">
          <h2 class="text-white my-2">Publish your story with a wider audience</h2>
          <p class="text-white">Gets started today</p>
          <div class="input-group mt-5 mb-4 mx-auto w-md-50">
            <input type="text" class="custom-input-round-md form-control" placeholder="Enter your email to begin" aria-label="Recipient's username" aria-describedby="custom-input-round-btn-md-2">
            <div class="input-group-append">
              <span class="input-group-text text-center d-flex justify-content-center custom-input-round-btn-md" id="custom-input-round-btn-md-2">Get Started</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <div id="art-blue"></div>
</div>
</div>
